body {
    font-family: monospace;
    font-weight: 800;
    font-size: 16px;
    margin: 10px;
    background-color: rgb(14,14,14);
    color: white;
    
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

p input {
    width: 50%;
    margin-left: 10px;
}

input {
    background-color: black;
    border-width: 1px;
    border-color: #444444;
    color: white;
    font-family: monospace;
    font-weight: 800;
    font-size: 16px;
}

button {
    background-color: black;
    margin: 5px;
    color: white;
    border-color: white;
    min-width: 35px;
    min-height: 35px;
}
